.custom-button {
    -fx-background-color:  #7FFFD4;
    -fx-text-fill: #000000ac;
    -fx-border-radius: 15 15 15 15;
}

.custom-button2 {
    -fx-background-color: #333333;
    -fx-text-fill: #eceeeb;
    -fx-border-radius: 15 15 15 15;
}

.custom-button2:hover {
    -fx-background-color: #5B5B5B;
}

.custom-button:hover {
    -fx-background-color: #6EDAB6;

}

.rounded-button {
    -fx-background-color: #DEDFDDFF;
    -fx-text-fill: #4f82a6;
    -fx-border-radius: 20px; /* Bordo arrotondato */
}

.rounded-button:hover {
    -fx-background-color: #4f82a6;
    -fx-border-radius: 20px; /* Bordo arrotondato */
    -fx-text-fill: #DEDFDDFF;

}

.info-button {
    -fx-font-family: Perpetua;
    -fx-background-color: #DEDFDDFF;
    -fx-text-fill: #4f82a6;
    -fx-border-radius: 20px;
}

.info-button:hover {
    -fx-font-family: Perpetua;
    -fx-background-color: #4f82a6;
    -fx-border-radius: 20px; /* Bordo arrotondato */
    -fx-text-fill: #DEDFDDFF;

}
